*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@Font-face {
    font-family: MainFontBold;
    src: url(../src/assets/font/bold.ttf);
}

@font-face {
    font-family: MainFontRegular;
    src: url(../src/assets/font/normal.ttf);
}

:root{
    --bg-color: #ecfeff;
    --footer-bg-color: #083344;
    --header-color: #0891b2;
    --navigation-non-focus-color: #58585f;
    --navigation-focus-color: #18181b;
    --navigation-underline-color: #083344;
    --focus-border-color : black;
    --time-containers-color : white;
    --time-container-shadow: #64748b;
    --sub-head-color: #64748b;
    --time-color: #f87171;
}


/* Button */

/* 
button{
    font-family: MainFontRegular;
    font-size: clamp(1rem, 2vw, 1.5rem);
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    background-color: inherit;
}  */

body{
    background-color: var(--bg-color);
    height: 90vh;
    display: grid;
    grid-template-rows: 1fr 8fr 2fr;
}

footer{
    height: 10vh;
    background-color: var(--footer-bg-color);
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Content Body */

.main-body-container{
    padding-top: 2vh;
    padding-left: 10vw;
    padding-right: 10vw;
    height: calc(90vh - 2vh);
    overflow-y: auto;
}

/* Header */

.header-text{
    font-family: MainFontBold;
    font-size: clamp(2rem, 3vw, 3.5rem);
    color: var(--header-color);
    padding-bottom: 2vh;
}

/* Content Container */

.content-container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2vh;
    padding: 0.5vh 3vw;
}

/* Tomer Containers */

.content-container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 3vh;

}

.focus-container,
.short-break-container,
.long-break-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.3vh;
    border: 1px solid var(--focus-border-color);
    border-radius: 1rem;
    padding: 1vh 3vw;
    background-color: var(--time-containers-color);
    box-shadow: 10px 10px 10px var(--time-container-shadow);
}

.sub-heading-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-heading{
    font-family: MainFontBold;
    font-size: clamp(1rem, 1.7vw, 2rem);
    color: var(--sub-head-color);
    margin: 0;
    padding: 0;
}

.time-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.focus-time,
.short-break-time,
.long-break-time{
    font-family: MainFontRegular;
    font-size: clamp(1.8rem, 2.15vw, 2.5rem);
    color: var(--time-color);
    margin: 0;
    padding: 0;
}

.buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding-bottom: 0.5vh;
}

.start-button,
.stop-button{
    font-family: MainFontRegular;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    padding: 0.5rem 1rem;
    border: 0.08rem solid var(--time-container-shadow);
    cursor: pointer;
    background-color: inherit;
    transition: background-color 0.5s ease-in 0.01s;
}

.start-button:hover,
.stop-button:hover{
    background-color: var(--time-container-shadow);
    color: var(--time-containers-color);
    transform: scale(0.95);
}

/* Footer */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 10vw;
}

.left-text,
.right-text{
    font-family: MainFontRegular;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color: white;
}

.right-text a{
    text-decoration: none;
    color: var(--header-color);
}