*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@Font-face {
    font-family: MainFontBold;
    src: url(../src/assets/font/bold.ttf);
}

@font-face {
    font-family: MainFontRegular;
    src: url(../src/assets/font/normal.ttf);
}

:root{
    --bg-color: #ecfeff;
    --footer-bg-color: #083344;
    --header-color: #0891b2;
    --navigation-non-focus-color: #58585f;
    --navigation-focus-color: #18181b;
    --navigation-underline-color: #083344;
}

/* List styles */   /* Navigation */

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
    padding: 0 2vw;
    font-family: MainFontRegular;
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: var(--navigation-non-focus-color);
}

body{
    background-color: var(--bg-color);
    height: 90vh;
    display: grid;
    grid-template-rows: 1fr 8fr 2fr;
}

footer{
    height: 10vh;
    background-color: var(--footer-bg-color);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navigation ul li a.active {
    color: var(--navigation-focus-color);
    border-bottom: 2px solid var(--navigation-underline-color);
}

/* Content Body */

.main-body-container{
    padding-top: 2vh;
    padding-left: 10vw;
    padding-right: 10vw;
    height: calc(90vh - 2vh);
    overflow-y: auto;
}

/* Header */

.header-text{
    font-family: MainFontBold;
    font-size: clamp(2rem, 3vw, 3.5rem);
    color: var(--header-color);
    padding-bottom: 2vh;
}